{% extends 'admin/change_list.html' %}
{% block content_title %}
<center><h1> Tablero de pedidos</h1></center>
{% endblock %}
{% block result_list %}
{% load static %}
<script src="{% static 'js/tablero.js' %}"></script>  
<script src="{% static 'jquery/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'popper/popper.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'administracion/index.css' %}">
<div class="contenedor_estados">
<div >
    Recibidos
    <span id=recibido></span>
</div>
<div>
    En Proceso
    <span id=enproceso></span>
</div>
<div>
    Finalizados
    <span id=finalizado></span>
</div>
<div>
    Pagados
    <span id=pagado></span>
</div>
</div>
<hr />
{% endblock %}
{% block pagination %}{% endblock %}