{% load static %}
<script src="{% static 'jquery/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'popper/popper.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

<script src="{% static 'js/bootstrap.min.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'sitio/index.css' %}">

<nav class="navbar">
  <a class="navbar-brand" href="#">
  <div class="title">Pollos Anthony Sepulveda</div>
  </a>
</nav>
<div class="contenedor">
<div >aqui existirá el contenido</div>
{% for i in images %}
<div><img src="{{i.Image}}"></div>
{% endfor %}
</div>