{% load static %}
<script src="{% static 'jquery/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'popper/popper.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'sitio/index.css' %}">

<nav class="navbar">
  <a class="navbar-brand" href="#">
  <img src="{% static 'images/logo fake.png' %}" width="150px" height="150px" >
  <div class="title">Pollos Anthony Sepulveda </div>
  </a>
</nav>
<div class="contenedor">
<div >-Buenas tardes</div>
<div>-como le va señor</div>
<img src="https://pbs.twimg.com/media/BmRik5YCYAASL5Q?format=jpg&name=900x900" width="400px" height="auto">
</div>