nav {
    background: linear-gradient(180deg, rgba(239,135, 43, 1) 0%, rgba(215,57, 45, 1) 100%);
    width: 100%;
    height: 150px;
    
}
.navbar-brand{
    display: flex;
    align-items: center;
}
#whatsapp-icon{
    background: white;
    border-radius: 20px;
}

.title{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 56px;
    color: white;
    display: flex;
    justify-content: center;

}
.row-pedido{
    margin: 5px auto;
}
.contact{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: white;
    display: block;
    text-align: center;
    margin-top: 10px;
  
}
.contenedor{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.carousel{
    background: rgba(206, 206, 206, 0.2);
    border-radius: 14px;
    margin: auto;
    height: 400px;
    width: 60%;
}
.carousel-inner,.carousel-item{
    height: 100%;
}
