div{
    margin: 10px auto;
    
}
nav {
    background: linear-gradient(180deg, rgba(239,135, 43, 1) 0%, rgba(215,57, 45, 1) 100%);
    width: 100%;
    height: 150px;
    
}
.navbar-brand{
    display: flex;
    align-items: center;
}

.title{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
    color: white;
  
}
.contenedor{
    width: max-content;
    margin: 0 auto;
    text-align: center;
}