h2{
    text-align: center;
}
.contenedor_estados{
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    
}
.contenedor_estados > div{
    width: 24%;
    min-width: 290px;
}